html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 40px;
	background-color: #7ab2bb;

}

h1 {
	padding: 20px;
	font-size: larger;
	font-weight: bold;
	line-height: 1;
	text-align: center;
}

/* dropzone */
.drop_zone {
	border: 4px dashed rgb(19, 50, 58);
	border-radius: 10px;
	max-width: 300px !important;
	height: 300px;
	padding: 25px;
	display: flex;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	margin: auto;
}

.drop_zone--over {
	border-style: solid;
}

.drop_zone_input {
	display: none;
}

.drop_zone_thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: whitesmoke;
	background-size: cover;
	position: relative;
}

.drop_zone_thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: whitesmoke;
	background: black;
	font-size: 14px;
	text-align: center;
}

/* waveform */
.nodisplay {
	display: none;
}

.waveform-container {
	border: 5px solid #3c4041;
	filter: blur(0.4px);
	background: repeating-linear-gradient(#096a79 58px, #5edcf0d7 60px);
	height: fit-content;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 1.5%;
}


/* new sample button */
#container_button {
	position: relative;
	margin-top: 30px;
}

.big-green-btn {
	width: 100%;
	height: 100%;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #316468;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px rgb(100, 152, 168);
	margin-top: 10px;
	padding: 20px;
}

.big-green-btn:hover {
	background-color: #618685;
}

.big-green-btn:active {
	background-color: #456d80;
	box-shadow: 0 5px rgb(143, 192, 207);
}

/* bars */
/* #bar-container {
	width: 90%;
} */

.bar {
	justify-content: center;
	border-style: solid;
	border-color: #517075;
	border-width: 5px;
	background-color: rgb(127, 168, 179);
	margin-bottom: 2%;
}

#knob-bar {
	padding: 15px 15px 0px 15px;
}

#effect-bar {
	padding: 15px;
}

.knob-col {
	margin-top: 5px !important;
	min-width: 150px;
	min-height: 200px;
	text-align: center;
}

.knob-col-small {
	margin-top: 5px !important;
	min-width: 150px;
	height: 170px;
	text-align: center;
}

.knob {
	font-size: 2vw !important;
	font-weight: bold !important;
}

label {
	margin-top: -10px;
	height: fit-content;
	width: 100%;
	font-size: x-large;
	font-weight: bolder;
}

footer {
	text-align: center;
	position: absolute !important;
	bottom: auto !important;
	width: 100%;
	height: 40px;
	margin-top: 40px;
}

/* effect bar */

.toggle {
	width: 20px;
	height: 20px;
	border-color: #3a3a3a;
	border-radius: 100px;
	outline: none;
	background: #637277;
	color: white;
	cursor: pointer;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	margin-top: 15%;
}

.toggle-active {
	background-color: #5ebe1e;
}

.title-effect {
	background-color: #333333;
	padding-bottom: 2%;
	margin-bottom: 10px;
}

.eff-name-up {
	color: white;
	font-size: large;
	padding-top: 0.8%;
}

.eff-name-down {
	color: white;
	font-size: large;
	padding-top: 0.8%;
}

.effect-box {
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	border: solid 5px #475152;
	min-height: 100px;
}

/* bottone scelta samples */
.dft-sample {
	padding: 0.35em 1.2em;
	border: 0.1em solid #009ea3;
	border-radius: 0.12em;
	box-sizing: border-box;
	font-weight: 300;
	text-align: center;
}

.dft-sample:hover {
	color: #000000;
	background-color: #55b4bb;
}

@media all and (max-width:30em) {
	.dft-sample {
		display: block;
		margin: 0.4em auto;
	}
}

.font {
	font-family: 'Helvetica Neue', sans-serif;
}

#preset-select {
	text-align: center;
}

.words {
	color: #508e97;
	font-size: 0;
	line-height: 1.5;
}

.words span {
	font-size: 3rem;
	display: inline-block;
	animation: move 3s ease-in-out infinite;
}

@keyframes move {
	0% {
		transform: translate(-2%, 0);
	}

	50% {
		text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
	}

	100% {
		transform: translate(2%, 0);
	}
}

.words span:nth-child(2) {
	animation-delay: 0.5s;
}

.words span:nth-child(3) {
	animation-delay: 2s;
}

.words span:nth-child(4) {
	animation-delay: 1.5s;
}

.words span:nth-child(5) {
	animation-delay: 0.7s;
}

.words span:nth-child(6) {
	animation-delay: 1.7s;
}

.words span:nth-child(7) {
	animation-delay: 1s;
}

.words span:nth-child(8) {
	animation-delay: 3s;
}

.words span:nth-child(9) {
	animation-delay: 1.2s;
}

.words span:nth-child(10) {
	animation-delay: 2s;
}

.words span:nth-child(11) {
	animation-delay: 3s;
}

.words span:nth-child(12) {
	animation-delay: 2s;
}

.words span:nth-child(13) {
	animation-delay: 0.5s;
}

.words span:nth-child(14) {
	animation-delay: 2.5s;
}

.words span:nth-child(15) {
	animation-delay: 3.3s;
}

.words span:nth-child(16) {
	animation-delay: 2.3s;
}

.words span:nth-child(17) {
	animation-delay: 0.8s;
}

.words span:nth-child(18) {
	animation-delay: 1.7s;
}

.words span:nth-child(19) {
	animation-delay: 3s;
}




/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	background-color: rgb(49, 100, 104);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 8px;
	margin-top: 10px;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 0.25s;
	animation: fadeIn 0.25s;
}

#controllerset {
	width: 20%;
	border: 0em;
	margin: 10 0.3em 0.3em 0;
	background-color: white;
}

#select1 {
	width: auto;
	height: auto;
	display: inline-block;
}

#select2 {
	width: auto;
	height: auto;
	display: inline-block;
}

#select3 {
	width: auto;
	height: auto;
	display: inline-block;
}


#controller1 {
	width: 50%;
	height: auto;
	display: inline-block;
}

#controller2 {
	width: 50%;
	height: auto;
	display: inline-block;
}

#controller3 {
	width: 50%;
	height: auto;
	display: inline-block;
}



/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}