html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 40px;
	background-color: #7ab2bb;

}

h1 {
	padding: 20px;
	font-size: larger;
	font-weight: bold;
	line-height: 1;
	text-align: center;
}

/* dropzone */
.drop_zone {
	border: 4px dashed rgb(19, 50, 58);
	border-radius: 10px;
	max-width: 300px !important;
	height: 300px;
	padding: 25px;
	display: flex;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	margin: auto;
}

.drop_zone--over {
	border-style: solid;
}

.drop_zone_input {
	display: none;
}

.drop_zone_thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: whitesmoke;
	background-size: cover;
	position: relative;
}

.drop_zone_thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: whitesmoke;
	background: black;
	font-size: 14px;
	text-align: center;
}

/* waveform */
.nodisplay {
	display: none;
}

.waveform-container {
	border: 5px solid #3c4041;
	background: repeating-linear-gradient(#096a79 58px, #5edcf0d7 60px);
	filter: blur(0.6px);
	overflow: hidden;
	margin-bottom: 15px;
}

/* new sample button */
#container_button {
	position: relative;
	margin-top: 30px;
}

#new_sample_but {
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #316468;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px rgb(100, 152, 168);
	margin-top: 10px;
	padding: 20px;
}

#new_sample_but:hover {
	background-color: #618685;
}

#new_sample_but:active {
	background-color: #456d80;
	box-shadow: 0 5px rgb(143, 192, 207);
}

/* bars */
.bar {
	padding: 15px;
	justify-content: center;
	border-style: solid;
	border-color: #517075;
	border-width: 5px;
	background-color: rgb(127, 168, 179);
}

#knob-bar{
	margin-bottom: 2%;
}

.knob-col {
	margin-top: 5px !important;
	margin-bottom: 5px;
	min-width: 150px;
	min-height: 190px;
	text-align: center;
}

.knob-col-small {
	margin-top: 5px !important;
	margin-bottom: 5px;
	min-width: 150px;
	max-width: 250px !important;
	min-height: 180px;
	text-align: center;
}

.knob {
	font-size: 2.5vw !important;
	font-weight: bold !important;
}

label {
	margin-top: -10px;
	height: fit-content;
	width: 100%;
	font-size: x-large;
	font-weight: bolder;
}

footer {
	text-align: center;
	position: absolute !important;
	bottom: auto !important;
	width: 100%;
	height: 40px;
	margin-top: 40px;
}

/* effect bar */

#delay {
	border: solid 5px #475152 ;
	margin-left: 4%;
	margin-right: 3%;
}

#reverb {
	border: solid 5px #475152 ;
	margin-left: 5%;
}

/* bottone scelta samples */
.sample {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #009ea3;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	transition: all 0.2s;
}

.sample:hover {
	color: #000000;
	background-color: #55b4bb;
}

@media all and (max-width:30em) {
	.sample {
		display: block;
		margin: 0.4em auto;
	}
}

.naboli {
	width: 5px;
	height: 5px;
}

/* end sample button */

.font {
	font-family: 'Helvetica Neue', sans-serif;
}

.effect-box {
	border: 2px solid black;
	min-height: 100px;
}

#preset-select {
	margin-top: 10px;
	text-align: center;
}

.words {
	color: #508e97;
	font-size: 0;
	line-height: 1.5;
}

.words span {
	font-size: 5rem;
	display: inline-block;
	animation: move 3s ease-in-out infinite;
}

@keyframes move {
	0% {
		transform: translate(-2%, 0);
	}

	50% {
		text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
	}

	100% {
		transform: translate(2%, 0);
	}
}

.words span:nth-child(2) {
	animation-delay: 0.5s;
}

.words span:nth-child(3) {
	animation-delay: 2s;
}

.words span:nth-child(4) {
	animation-delay: 1.5s;
}

.words span:nth-child(5) {
	animation-delay: 0.7s;
}

.words span:nth-child(6) {
	animation-delay: 1.7s;
}

.words span:nth-child(7) {
	animation-delay: 1s;
}

.words span:nth-child(8) {
	animation-delay: 3s;
}

.words span:nth-child(9) {
	animation-delay: 1.2s;
}

.words span:nth-child(10) {
	animation-delay: 2s;
}

.words span:nth-child(11) {
	animation-delay: 3s;
}

.words span:nth-child(12) {
	animation-delay: 2s;
}

.words span:nth-child(13) {
	animation-delay: 0.5s;
}

.words span:nth-child(14) {
	animation-delay: 2.5s;
}

.words span:nth-child(15) {
	animation-delay: 3.3s;
}

.words span:nth-child(16) {
	animation-delay: 2.3s;
}

.words span:nth-child(17) {
	animation-delay: 0.8s;
}

.words span:nth-child(18) {
	animation-delay: 1.7s;
}

.words span:nth-child(19) {
	animation-delay: 3s;
}