h1 {
    padding: 20px;
    font-size: larger;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-color: #6f7449;
    margin-left: 30px;
    margin-right: 30px;
}

.font {
    font-family: 'Helvetica Neue', sans-serif;
}

/* dropzone */
.drop_zone {
    border: 4px dashed rgb(145, 121, 77);
    border-radius: 10px;
    max-width: 300px;
    height: 300px;
    padding: 25px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.drop_zone--over {
    border-style: solid;
}

.drop_zone_input {
    display: none;
}

.drop_zone_thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: whitesmoke;
    background-size: cover;
    position: relative;
}

.drop_zone_thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: whitesmoke;
    background: black;
    font-size: 14px;
    text-align: center;
}

/* waveform */
.nodisplay {
    display: none;
}

.waveform {
    /* height: 20%; */
    position: relative;
}

/* new sample button */
#container_button {
    height: fit-content;
    position: relative;
    margin-top: 30px;
}

#new_sample_div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#new_sample_but {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #6f7449;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(151, 145, 145);
}

#new_sample_but:hover {
    background-color: #618685
}

#new_sample_but:active {
    background-color: #5a7544;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* knobs */
#knob-bar {
    border-radius: 10%;
    border-style: double;
    border-color: #6f7449;
    border-width: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: bisque;
    margin-bottom: 15px;
}

#effect-bar {
    padding-bottom: 10px;
    border-radius: 5%;
    border-style: double;
    border-color: #6f7449;
    border-width: 10px;
    background-color: bisque;
    margin-bottom: 15px;
}

.bar {
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
    width: 80%;
    justify-content: center;
}

.display-flex {
    display: flex;
}

.vert {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 1%;
    justify-content: center;
    text-align: center;
    /* vertical-align: middle; non funziona, c'è display block */
}

label {
    height: 20%;
    width: 100%;
    font-size: larger;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.placeholder {
    border: 2px border solid;
    height: 100%;
    width: 30%;
}